.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  .header-container {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .logo-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      .logo {
        text-decoration: none;
        margin: 0;
        font-size: 32px;
        text-decoration: none;
        color: black;
      }
      h1 {
        margin: 0;
      }
      h4 {
        margin: 0;
        margin-top: 10px;
      }
    }
    .cursor-menu{
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    .menu-container {
      border: 1px solid gray;
      width: 80vw;
      max-width: 1600px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: 0.3s;
      font-weight: 700;
      .menu1 {
        border-left: 1px solid grey;
      }
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
cursor: none;
        border-right: 1px solid gray;
        text-decoration: none;
        color: black;
        transition: 0.3s;
        
      }

      :hover {
        cursor: none;
        color: #646fd4;
        font-weight: 700;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .wrapper {
    max-width: 300px;
    h1 {
      font-size: 24px;
    }
    .menu-container {
      font-size: 14px;
    }
  }
}
